<a href="https://colab.research.google.com/github/meriemdouider1/10-2022-/blob/main/Cs_longia/%20DFS_BACKEWARD-%20ACCURACY%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import roc_auc_score, r2_score
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
import numpy
import sklearn.metrics as metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import LeaveOneOut
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import make_scorer
import matplotlib.pyplot as plt
from sklearn.model_selection import LeaveOneOut
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets, metrics, model_selection, svm
import numpy as np
from sklearn import svm, datasets
from sklearn.metrics import auc
from sklearn.metrics import plot_roc_curve
from sklearn.model_selection import StratifiedKFold
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets, metrics, model_selection, svm
from sklearn.metrics import matthews_corrcoef
from sklearn.svm import SVC
from sklearn.metrics import cohen_kappa_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline
from matplotlib import pyplot

In [6]:
Cl1 = '/content/cs-longia.xlsx' 
data=pd.read_excel(Cl1, sheet_name=0,header=0,index_col=False, keep_default_na=True)

In [7]:
data

,Cs_longia,X_long,Y_lat,Bovins,Volaille,Caprins,Ovins,Equides,Coniferes,ZoneAride,...,Vent_Mars,Vent_Avril,Vent_Mai,Vent_Juin,Vent_Juill,Vent_Aout,Vent_Sept,Vent_Oct,Vent_Nov,Vent_Dec
0,1,-15.911420,23.794740,0.000000,0.000000,0.000000,0.000000,0.624435,0,97,...,6.1,6.9,7.2,7.1,7.5,7.2,6.3,5.4,5.5,4.9
1,1,-13.188370,27.132950,0.000214,0.000000,0.063449,0.034352,0.040295,0,100,...,4.8,5.6,5.7,6.4,5.9,5.9,5.7,4.3,3.7,3.8
2,1,-13.188370,27.132950,0.000214,0.000000,0.063449,0.034352,0.040295,0,100,...,4.8,5.6,5.7,6.4,5.9,5.9,5.7,4.3,3.7,3.8
3,0,-13.185620,27.157940,0.000000,0.000000,0.000000,0.000000,0.269410,0,100,...,5.1,5.6,5.5,6.2,6.2,6.2,5.7,4.1,3.7,3.9
4,0,-13.167180,27.157730,0.000000,0.000000,0.000000,0.000000,0.379107,0,100,...,5.0,5.2,5.4,5.7,6.2,5.8,5.6,4.2,3.6,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,1,-5.366667,35.766667,8.495770,105.550156,8.691405,15.116930,0.698221,0,0,...,4.6,4.3,4.1,3.9,3.9,4.1,4.0,4.0,4.0,4.2
250,1,-5.816667,35.783333,0.000000,0.000000,0.000000,0.000000,1.725019,0,0,...,4.6,4.1,3.8,3.7,3.7,3.7,3.3,3.6,3.8,4.0
251,1,-5.366667,35.833333,7.411978,111.459663,7.364459,15.054404,0.991284,0,0,...,4.5,4.3,4.0,4.0,3.9,4.0,3.9,4.0,3.9,4.3
252,1,-5.558611,35.841944,5.696193,5.641273,0.602672,4.306276,0.000000,0,0,...,4.6,4.0,3.8,4.1,3.7,3.4,3.6,3.6,3.4,3.6
253,1,-5.483333,35.900000,6.839514,15.082421,0.782080,6.042903,0.595441,0,0,...,4.7,4.4,3.9,3.8,3.9,3.7,4.0,4.0,4.0,4.2

In [8]:
data["Cs_longia"]

0      1
1      1
2      1
3      0
4      0
      ..
249    1
250    1
251    1
252    1
253    1
Name: Cs_longia, Length: 254, dtype: int64

In [9]:
X = data.loc[:, data.columns != 'Cs_longia']
y = data.Cs_longia

In [10]:
X

,X_long,Y_lat,Bovins,Volaille,Caprins,Ovins,Equides,Coniferes,ZoneAride,ZonePel,...,Vent_Mars,Vent_Avril,Vent_Mai,Vent_Juin,Vent_Juill,Vent_Aout,Vent_Sept,Vent_Oct,Vent_Nov,Vent_Dec
0,-15.911420,23.794740,0.000000,0.000000,0.000000,0.000000,0.624435,0,97,3,...,6.1,6.9,7.2,7.1,7.5,7.2,6.3,5.4,5.5,4.9
1,-13.188370,27.132950,0.000214,0.000000,0.063449,0.034352,0.040295,0,100,0,...,4.8,5.6,5.7,6.4,5.9,5.9,5.7,4.3,3.7,3.8
2,-13.188370,27.132950,0.000214,0.000000,0.063449,0.034352,0.040295,0,100,0,...,4.8,5.6,5.7,6.4,5.9,5.9,5.7,4.3,3.7,3.8
3,-13.185620,27.157940,0.000000,0.000000,0.000000,0.000000,0.269410,0,100,0,...,5.1,5.6,5.5,6.2,6.2,6.2,5.7,4.1,3.7,3.9
4,-13.167180,27.157730,0.000000,0.000000,0.000000,0.000000,0.379107,0,100,0,...,5.0,5.2,5.4,5.7,6.2,5.8,5.6,4.2,3.6,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,-5.366667,35.766667,8.495770,105.550156,8.691405,15.116930,0.698221,0,0,0,...,4.6,4.3,4.1,3.9,3.9,4.1,4.0,4.0,4.0,4.2
250,-5.816667,35.783333,0.000000,0.000000,0.000000,0.000000,1.725019,0,0,0,...,4.6,4.1,3.8,3.7,3.7,3.7,3.3,3.6,3.8,4.0
251,-5.366667,35.833333,7.411978,111.459663,7.364459,15.054404,0.991284,0,0,0,...,4.5,4.3,4.0,4.0,3.9,4.0,3.9,4.0,3.9,4.3
252,-5.558611,35.841944,5.696193,5.641273,0.602672,4.306276,0.000000,0,0,58,...,4.6,4.0,3.8,4.1,3.7,3.4,3.6,3.6,3.4,3.6
253,-5.483333,35.900000,6.839514,15.082421,0.782080,6.042903,0.595441,0,0,5,...,4.7,4.4,3.9,3.8,3.9,3.7,4.0,4.0,4.0,4.2

In [11]:
algo =  XGBClassifier(random_state=0,n_jobs=-1)

In [12]:
clmns=X.columns

In [13]:
clmns

Index(['X_long', 'Y_lat', 'Bovins', 'Volaille', 'Caprins', 'Ovins', 'Equides',
       'Coniferes', 'ZoneAride', 'ZonePel',
       ...
       'Vent_Mars', 'Vent_Avril', 'Vent_Mai', 'Vent_Juin', 'Vent_Juill',
       'Vent_Aout', 'Vent_Sept', 'Vent_Oct', 'Vent_Nov', 'Vent_Dec'],
      dtype='object', length=225)

In [14]:
def transform(X, fs) :
  X_ = X.copy()
  for i in range(len(fs)) :
    if fs[i] == False :
      X_.drop([clmns[i]], axis=1, inplace=True)
  return X_

In [15]:
def Retransform (lst):
  Fs=[]      
  for i in range(225):
    if clmns[i] in lst :
       Fs.append(True)
    else :
       Fs.append(False)
  return Fs

In [16]:
lst= ['Y_lat',
 'Ph1_IRM',
 'Ph2_TempJ',
 'Amp2_TempN',
 'Max_TempN',
 'VarT_bi_NDVI',
 'Sol_Limon',
 'IPT_Min',
 'IPT_Moy',
 'IR_sd',
 'Bio_Tint',
 'Prec_Juill',
 'Tmax_Avril',
 'Vent_Juin',
 'Vent_Aout']

In [17]:
Fs = Retransform (lst)

In [18]:
Fs

[False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False]

In [19]:
def specificite(y_true, y_pred):
  specificite= confusion_matrix(y_true, y_pred)[0,0]/(confusion_matrix(y_true,y_pred)[0,0] + confusion_matrix(y_true, y_pred)[0,1])
  return specificite
my_scorer = make_scorer(specificite, greater_is_better=True)
def MCC(y_true, y_pred):
  MCC= matthews_corrcoef(y_true, y_pred) 
  return MCC
my_scorer1 = make_scorer(MCC, greater_is_better=True)
def présicion_positive(y_val, preds):
  cf_matrix = confusion_matrix(y_val, preds)
  pre_pos =  (cf_matrix[1,1])/(cf_matrix[1,1]+cf_matrix[0,1])
  return pre_pos
my_scorer2 = make_scorer(présicion_positive, greater_is_better=True)
def présicion_négative(y_val, preds):
  cf_matrix = confusion_matrix(y_val, preds)
  pre_pos =  (cf_matrix[0,0])/(cf_matrix[0,0]+cf_matrix[1,0])
  return pre_pos
my_scorer3 = make_scorer(présicion_négative, greater_is_better=True)
def VN(y_true, y_pred):
    value = confusion_matrix(y_true, y_pred)[0,0]
    return value
my_scorer4 = make_scorer(VN, greater_is_better=True)
def VP(y_true, y_pred):
    value = confusion_matrix(y_true, y_pred)[1,1]
    return value
my_scorer5 = make_scorer(VP, greater_is_better=True)
def FP(y_true, y_pred):
    value = confusion_matrix(y_true, y_pred)[0,1]
    return value
my_scorer6 = make_scorer(FP, greater_is_better=True)
def FN(y_true, y_pred):
    value = confusion_matrix(y_true, y_pred)[1,0]
    return value
my_scorer7 = make_scorer(FN, greater_is_better=True)

In [28]:
cv = KFold(n_splits=5, random_state=1, shuffle=True)
explored_models = []
scores_mcc = []
models_mm=[]
def explor(fs, mcc, algo) :
  if (sum(fs) < 5 or sum(fs) > 225) :
    return
  explored_models.append(fs)
  for i in range(225) :
    neighbor = fs.copy()
    neighbor[i] = not fs[i]
    if (neighbor not in explored_models) :
      score_mcc = cross_val_score(algo, transform(X, neighbor) , y, scoring=my_scorer1, cv=cv, n_jobs=-1)
      mean_score_mcc = np.mean(score_mcc)
      explored_models.append(neighbor)
      if (mean_score_mcc  > mcc  ) :
        models_mm.append(neighbor)
        print("mcc", mean_score_mcc)
        print(len(transform(X,neighbor).columns))
        print(transform(X,neighbor).columns)
        print("-----------")
        scores_mcc.append(mean_score_mcc)
        explor(neighbor, mean_score_mcc, algo)

In [21]:
cv = KFold(n_splits=5, random_state=1, shuffle=True)
explored_models2 = []
scores_sensibilite = []
scores_specificite = []
models_mm2=[]
def explor2(fs, sen, spe, algo) :
  if (sum(fs) < 5 or sum(fs) > 225) :
    return
  explored_models2.append(fs)
  for i in range(225) :
    neighbor = fs.copy()
    neighbor[i] = not fs[i]
    if (neighbor not in explored_models2) :
      score_sensibilite = cross_val_score(algo, transform(X, neighbor) , y, scoring='recall', cv=cv, n_jobs=-1)
      score_specificite = cross_val_score(algo, transform(X, neighbor) , y, scoring=my_scorer, cv=cv, n_jobs=-1)
      mean_score_sensibilite = np.mean(score_sensibilite)
      mean_score_specificite = np.mean(score_specificite)
      explored_models2.append(neighbor)
      if (mean_score_sensibilite  > sen  and  mean_score_specificite > spe) :
        models_mm2.append(neighbor)
        print("sensibilite", mean_score_sensibilite)
        print("specificite", mean_score_specificite)
        print("-----------")
        scores_sensibilite.append(mean_score_sensibilite)
        scores_specificite.append(mean_score_specificite)
        explor2(neighbor, mean_score_sensibilite,mean_score_specificite, algo)

In [22]:
transform(X,Fs)

,Y_lat,Ph1_IRM,Ph2_TempJ,Amp2_TempN,Max_TempN,VarT_bi_NDVI,Sol_Limon,IPT_Min,IPT_Moy,IR_sd,Bio_Tint,Prec_Juill,Tmax_Avril,Vent_Juin,Vent_Aout
0,23.794740,566,347,44,14561,1,19.083333,-1.750,0.375000,0.899761,12.000000,1,22.600000,7.1,7.2
1,27.132950,581,336,55,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
2,27.132950,581,336,55,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
3,27.157940,600,335,61,14690,0,18.083333,-7.125,0.898438,1.639937,17.400001,0,24.600000,6.2,6.2
4,27.157730,577,330,58,14719,0,13.916667,-7.250,-3.468750,3.913587,17.500000,0,24.700001,5.7,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,35.766667,647,160,40,14675,3,26.916667,-6.875,2.828125,2.176535,18.300001,1,18.900000,3.9,4.1
250,35.783333,593,214,26,14743,5,27.166667,-7.375,1.265625,1.735360,17.699999,1,18.700001,3.7,3.7
251,35.833333,700,170,27,14666,3,28.833333,-13.500,2.179688,3.989664,18.200001,1,18.900000,4.0,4.0
252,35.841944,660,0,0,0,5,30.166667,-13.750,1.406250,12.156531,18.299999,1,19.799999,4.1,3.4
253,35.900000,674,184,19,14647,4,25.833333,-28.375,5.468750,19.463408,17.700000,1,19.000000,3.8,3.7

In [27]:
classifiers = {
"XGB": XGBClassifier(random_state=0,n_jobs=-1)
}

cv = KFold(n_splits=5, random_state=1, shuffle=True)
for name, clf in classifiers.items():
    print(name)
    # evaluate model
    scores1 = cross_val_score(clf,  transform(X,Fs), y, scoring='accuracy', cv=cv, n_jobs=-1)
    scores2 = cross_val_score(clf,  transform(X,Fs), y, scoring='recall', cv=cv, n_jobs=-1)
    scores3 = cross_val_score(clf, transform(X,Fs), y, scoring=my_scorer, cv=cv, n_jobs=-1)
    scores4 = cross_val_score(clf, transform(X,Fs), y, scoring=my_scorer1, cv=cv, n_jobs=-1)
    scores5 = cross_val_score(clf, transform(X,Fs), y, scoring=my_scorer2, cv=cv, n_jobs=-1)
    scores6 = cross_val_score(clf, transform(X,Fs), y, scoring=my_scorer3, cv=cv, n_jobs=-1)
    scores7 = cross_val_score(clf,  transform(X,Fs), y, scoring='roc_auc', cv=cv, n_jobs=-1)
    scores8 = cross_val_score(clf,  transform(X,Fs), y, scoring=my_scorer4, cv=cv, n_jobs=-1)
    scores9 = cross_val_score(clf,  transform(X,Fs), y, scoring=my_scorer5, cv=cv, n_jobs=-1)
    scores10 = cross_val_score(clf,  transform(X,Fs), y, scoring=my_scorer6, cv=cv, n_jobs=-1)
    scores11 = cross_val_score(clf,  transform(X,Fs), y, scoring=my_scorer7, cv=cv, n_jobs=-1)
    # report performance
    print('Accuracy:',scores1)
    print('moy_accuracy: %f' % mean(scores1))
    print("-------------------------------------------------")
    print('sensibilité :',scores2)
    print('moy_sensibilité: %f' % mean(scores2))
    print("-------------------------------------------------")
    print('spécificité :',scores3)
    print('moy_spécificité: %f' % mean(scores3))
    print("-------------------------------------------------")
    print('MCC :',scores4)
    print('MCC: %f' % mean(scores4))
    print("-------------------------------------------------")
    print('precision-po:',scores5)
    print('moy_precision-po: %f' % mean(scores5))
    print("-------------------------------------------------")
    print('precision-ne :',scores6)
    print('moy_precision-ne: %f' % mean(scores6))
    print("-------------------------------------------------")
    print('AUC :',scores7)
    print('moy_AUC: %f' % mean(scores7))
    print("-------------------------------------------------")
    print('VN :',scores8)
    print('VP :',scores9)
    print('FP :',scores10)
    print('FN :',scores11)
    print("-------------------------------------------------")
    print("-------------------------------------------------")

XGB
Accuracy: [0.78431373 0.80392157 0.8627451  0.82352941 0.84      ]
moy_accuracy: 0.822902
-------------------------------------------------
sensibilité : [0.74193548 0.77272727 0.8        0.8        0.79166667]
moy_sensibilité: 0.781266
-------------------------------------------------
spécificité : [0.85       0.82758621 0.95238095 0.83870968 0.88461538]
moy_spécificité: 0.870658
-------------------------------------------------
MCC : [0.57811407 0.60031348 0.74071542 0.63362028 0.68065933]
MCC: 0.646685
-------------------------------------------------
precision-po: [0.88461538 0.77272727 0.96       0.76190476 0.86363636]
moy_precision-po: 0.848577
-------------------------------------------------
precision-ne : [0.68       0.82758621 0.76923077 0.86666667 0.82142857]
moy_precision-ne: 0.792982
-------------------------------------------------
AUC : [0.85403226 0.86206897 0.90634921 0.85483871 0.8525641 ]
moy_AUC: 0.865971
-------------------------------------------------
VN : [17 24 20 26 23]
VP : [23 17 24 16 19]
FP : [3 5 1 5 3]
FN : [8 5 6 4 5]
-------------------------------------------------
-------------------------------------------------

# explore 1 terminé "DFS -MCC"

In [29]:
explor(Fs,0.646685,algo)

mcc 0.6494004441857614
16
Index(['Y_lat', 'Ph1_IRM', 'Ph2_TempJ', 'Amp2_TempN', 'VarT_ann_TempN',
       'Max_TempN', 'VarT_bi_NDVI', 'Sol_Limon', 'IPT_Min', 'IPT_Moy', 'IR_sd',
       'Bio_Tint', 'Prec_Juill', 'Tmax_Avril', 'Vent_Juin', 'Vent_Aout'],
      dtype='object')
-----------

In [36]:
len(models_mm)

1

In [44]:
transform(X,models_mm[0])

,Y_lat,Ph1_IRM,Ph2_TempJ,Amp2_TempN,VarT_ann_TempN,Max_TempN,VarT_bi_NDVI,Sol_Limon,IPT_Min,IPT_Moy,IR_sd,Bio_Tint,Prec_Juill,Tmax_Avril,Vent_Juin,Vent_Aout
0,23.794740,566,347,44,63,14561,1,19.083333,-1.750,0.375000,0.899761,12.000000,1,22.600000,7.1,7.2
1,27.132950,581,336,55,72,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
2,27.132950,581,336,55,72,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
3,27.157940,600,335,61,66,14690,0,18.083333,-7.125,0.898438,1.639937,17.400001,0,24.600000,6.2,6.2
4,27.157730,577,330,58,72,14719,0,13.916667,-7.250,-3.468750,3.913587,17.500000,0,24.700001,5.7,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,35.766667,647,160,40,92,14675,3,26.916667,-6.875,2.828125,2.176535,18.300001,1,18.900000,3.9,4.1
250,35.783333,593,214,26,91,14743,5,27.166667,-7.375,1.265625,1.735360,17.699999,1,18.700001,3.7,3.7
251,35.833333,700,170,27,91,14666,3,28.833333,-13.500,2.179688,3.989664,18.200001,1,18.900000,4.0,4.0
252,35.841944,660,0,0,0,0,5,30.166667,-13.750,1.406250,12.156531,18.299999,1,19.799999,4.1,3.4
253,35.900000,674,184,19,91,14647,4,25.833333,-28.375,5.468750,19.463408,17.700000,1,19.000000,3.8,3.7

In [46]:
classifiers = {
"XGB": XGBClassifier(random_state=0,n_jobs=-1)
}

cv = KFold(n_splits=5, random_state=1, shuffle=True)
for name, clf in classifiers.items():
    print(name)
    # evaluate model
    scores1 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring='accuracy', cv=cv, n_jobs=-1)
    scores2 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring='recall', cv=cv, n_jobs=-1)
    scores3 = cross_val_score(clf, transform(X,models_mm[0]), y, scoring=my_scorer, cv=cv, n_jobs=-1)
    scores4 = cross_val_score(clf, transform(X,models_mm[0]), y, scoring=my_scorer1, cv=cv, n_jobs=-1)
    scores5 = cross_val_score(clf, transform(X,models_mm[0]), y, scoring=my_scorer2, cv=cv, n_jobs=-1)
    scores6 = cross_val_score(clf, transform(X,models_mm[0]), y, scoring=my_scorer3, cv=cv, n_jobs=-1)
    scores7 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring='roc_auc', cv=cv, n_jobs=-1)
    scores8 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring=my_scorer4, cv=cv, n_jobs=-1)
    scores9 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring=my_scorer5, cv=cv, n_jobs=-1)
    scores10 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring=my_scorer6, cv=cv, n_jobs=-1)
    scores11 = cross_val_score(clf,  transform(X,models_mm[0]), y, scoring=my_scorer7, cv=cv, n_jobs=-1)
    # report performance
    print('Accuracy:',scores1)
    print('moy_accuracy: %f' % mean(scores1))
    print("-------------------------------------------------")
    print('sensibilité :',scores2)
    print('moy_sensibilité: %f' % mean(scores2))
    print("-------------------------------------------------")
    print('spécificité :',scores3)
    print('moy_spécificité: %f' % mean(scores3))
    print("-------------------------------------------------")
    print('MCC :',scores4)
    print('MCC: %f' % mean(scores4))
    print("-------------------------------------------------")
    print('precision-po:',scores5)
    print('moy_precision-po: %f' % mean(scores5))
    print("-------------------------------------------------")
    print('precision-ne :',scores6)
    print('moy_precision-ne: %f' % mean(scores6))
    print("-------------------------------------------------")
    print('AUC :',scores7)
    print('moy_AUC: %f' % mean(scores7))
    print("-------------------------------------------------")
    print('VN :',scores8)
    print('VP :',scores9)
    print('FP :',scores10)
    print('FN :',scores11)
    print("-------------------------------------------------")
    print("-------------------------------------------------")

XGB
Accuracy: [0.78431373 0.80392157 0.84313725 0.84313725 0.84      ]
moy_accuracy: 0.822902
-------------------------------------------------
sensibilité : [0.74193548 0.77272727 0.76666667 0.85       0.79166667]
moy_sensibilité: 0.784599
-------------------------------------------------
spécificité : [0.85       0.82758621 0.95238095 0.83870968 0.88461538]
moy_spécificité: 0.870658
-------------------------------------------------
MCC : [0.57811407 0.60031348 0.70899051 0.67892483 0.68065933]
MCC: 0.649400
-------------------------------------------------
precision-po: [0.88461538 0.77272727 0.95833333 0.77272727 0.86363636]
moy_precision-po: 0.850408
-------------------------------------------------
precision-ne : [0.68       0.82758621 0.74074074 0.89655172 0.82142857]
moy_precision-ne: 0.793261
-------------------------------------------------
AUC : [0.85403226 0.87147335 0.8952381  0.86290323 0.8525641 ]
moy_AUC: 0.867242
-------------------------------------------------
VN : [17 24 20 26 23]
VP : [23 17 23 17 19]
FP : [3 5 1 5 3]
FN : [8 5 7 3 5]
-------------------------------------------------
-------------------------------------------------

# explore 2 terminé "DFS - sen & spe"

In [31]:
explor2(Fs,0.781266,0.870658,algo)

sensibilite 0.7845992179863147
specificite 0.8706584442624485
-----------

In [48]:
transform(X,models_mm[0])

,Y_lat,Ph1_IRM,Ph2_TempJ,Amp2_TempN,VarT_ann_TempN,Max_TempN,VarT_bi_NDVI,Sol_Limon,IPT_Min,IPT_Moy,IR_sd,Bio_Tint,Prec_Juill,Tmax_Avril,Vent_Juin,Vent_Aout
0,23.794740,566,347,44,63,14561,1,19.083333,-1.750,0.375000,0.899761,12.000000,1,22.600000,7.1,7.2
1,27.132950,581,336,55,72,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
2,27.132950,581,336,55,72,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
3,27.157940,600,335,61,66,14690,0,18.083333,-7.125,0.898438,1.639937,17.400001,0,24.600000,6.2,6.2
4,27.157730,577,330,58,72,14719,0,13.916667,-7.250,-3.468750,3.913587,17.500000,0,24.700001,5.7,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,35.766667,647,160,40,92,14675,3,26.916667,-6.875,2.828125,2.176535,18.300001,1,18.900000,3.9,4.1
250,35.783333,593,214,26,91,14743,5,27.166667,-7.375,1.265625,1.735360,17.699999,1,18.700001,3.7,3.7
251,35.833333,700,170,27,91,14666,3,28.833333,-13.500,2.179688,3.989664,18.200001,1,18.900000,4.0,4.0
252,35.841944,660,0,0,0,0,5,30.166667,-13.750,1.406250,12.156531,18.299999,1,19.799999,4.1,3.4
253,35.900000,674,184,19,91,14647,4,25.833333,-28.375,5.468750,19.463408,17.700000,1,19.000000,3.8,3.7

In [47]:
transform(X,models_mm2[0])

,Y_lat,Ph1_IRM,Ph2_TempJ,Amp2_TempN,VarT_ann_TempN,Max_TempN,VarT_bi_NDVI,Sol_Limon,IPT_Min,IPT_Moy,IR_sd,Bio_Tint,Prec_Juill,Tmax_Avril,Vent_Juin,Vent_Aout
0,23.794740,566,347,44,63,14561,1,19.083333,-1.750,0.375000,0.899761,12.000000,1,22.600000,7.1,7.2
1,27.132950,581,336,55,72,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
2,27.132950,581,336,55,72,14705,1,17.500000,-2.125,-0.281250,0.397748,17.700001,0,24.600000,6.4,5.9
3,27.157940,600,335,61,66,14690,0,18.083333,-7.125,0.898438,1.639937,17.400001,0,24.600000,6.2,6.2
4,27.157730,577,330,58,72,14719,0,13.916667,-7.250,-3.468750,3.913587,17.500000,0,24.700001,5.7,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,35.766667,647,160,40,92,14675,3,26.916667,-6.875,2.828125,2.176535,18.300001,1,18.900000,3.9,4.1
250,35.783333,593,214,26,91,14743,5,27.166667,-7.375,1.265625,1.735360,17.699999,1,18.700001,3.7,3.7
251,35.833333,700,170,27,91,14666,3,28.833333,-13.500,2.179688,3.989664,18.200001,1,18.900000,4.0,4.0
252,35.841944,660,0,0,0,0,5,30.166667,-13.750,1.406250,12.156531,18.299999,1,19.799999,4.1,3.4
253,35.900000,674,184,19,91,14647,4,25.833333,-28.375,5.468750,19.463408,17.700000,1,19.000000,3.8,3.7

In [49]:
classifiers = {
"XGB": XGBClassifier(random_state=0,n_jobs=-1)
}

cv = KFold(n_splits=5, random_state=1, shuffle=True)
for name, clf in classifiers.items():
    print(name)
    # evaluate model
    scores1 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring='accuracy', cv=cv, n_jobs=-1)
    scores2 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring='recall', cv=cv, n_jobs=-1)
    scores3 = cross_val_score(clf, transform(X,models_mm2[0]), y, scoring=my_scorer, cv=cv, n_jobs=-1)
    scores4 = cross_val_score(clf, transform(X,models_mm2[0]), y, scoring=my_scorer1, cv=cv, n_jobs=-1)
    scores5 = cross_val_score(clf, transform(X,models_mm2[0]), y, scoring=my_scorer2, cv=cv, n_jobs=-1)
    scores6 = cross_val_score(clf, transform(X,models_mm2[0]), y, scoring=my_scorer3, cv=cv, n_jobs=-1)
    scores7 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring='roc_auc', cv=cv, n_jobs=-1)
    scores8 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring=my_scorer4, cv=cv, n_jobs=-1)
    scores9 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring=my_scorer5, cv=cv, n_jobs=-1)
    scores10 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring=my_scorer6, cv=cv, n_jobs=-1)
    scores11 = cross_val_score(clf,  transform(X,models_mm2[0]), y, scoring=my_scorer7, cv=cv, n_jobs=-1)
    # report performance
    print('Accuracy:',scores1)
    print('moy_accuracy: %f' % mean(scores1))
    print("-------------------------------------------------")
    print('sensibilité :',scores2)
    print('moy_sensibilité: %f' % mean(scores2))
    print("-------------------------------------------------")
    print('spécificité :',scores3)
    print('moy_spécificité: %f' % mean(scores3))
    print("-------------------------------------------------")
    print('MCC :',scores4)
    print('MCC: %f' % mean(scores4))
    print("-------------------------------------------------")
    print('precision-po:',scores5)
    print('moy_precision-po: %f' % mean(scores5))
    print("-------------------------------------------------")
    print('precision-ne :',scores6)
    print('moy_precision-ne: %f' % mean(scores6))
    print("-------------------------------------------------")
    print('AUC :',scores7)
    print('moy_AUC: %f' % mean(scores7))
    print("-------------------------------------------------")
    print('VN :',scores8)
    print('VP :',scores9)
    print('FP :',scores10)
    print('FN :',scores11)
    print("-------------------------------------------------")
    print("-------------------------------------------------")

XGB
Accuracy: [0.78431373 0.80392157 0.84313725 0.84313725 0.84      ]
moy_accuracy: 0.822902
-------------------------------------------------
sensibilité : [0.74193548 0.77272727 0.76666667 0.85       0.79166667]
moy_sensibilité: 0.784599
-------------------------------------------------
spécificité : [0.85       0.82758621 0.95238095 0.83870968 0.88461538]
moy_spécificité: 0.870658
-------------------------------------------------
MCC : [0.57811407 0.60031348 0.70899051 0.67892483 0.68065933]
MCC: 0.649400
-------------------------------------------------
precision-po: [0.88461538 0.77272727 0.95833333 0.77272727 0.86363636]
moy_precision-po: 0.850408
-------------------------------------------------
precision-ne : [0.68       0.82758621 0.74074074 0.89655172 0.82142857]
moy_precision-ne: 0.793261
-------------------------------------------------
AUC : [0.85403226 0.87147335 0.8952381  0.86290323 0.8525641 ]
moy_AUC: 0.867242
-------------------------------------------------
VN : [17 24 20 26 23]
VP : [23 17 23 17 19]
FP : [3 5 1 5 3]
FN : [8 5 7 3 5]
-------------------------------------------------
-------------------------------------------------

# DFS-accuracy

In [51]:
cv = KFold(n_splits=5, random_state=1, shuffle=True)
explored_models3 = []
scores_accuracy = []
models_mm3=[]
def explor3(fs, acc, algo) :
  if (sum(fs) < 5 or sum(fs) > 225) :
    return
  explored_models3.append(fs)
  for i in range(225) :
    neighbor = fs.copy()
    neighbor[i] = not fs[i]
    if (neighbor not in explored_models3) :
      score_acc = cross_val_score(algo, transform(X, neighbor) , y, scoring="accuracy", cv=cv, n_jobs=-1)
      mean_score_acc = np.mean(score_acc)
      explored_models3.append(neighbor)
      if (mean_score_acc  > acc) :
        models_mm3.append(neighbor)
        print("accuarcy", mean_score_acc)
        print("-----------")
        scores_sensibilite.append(mean_score_acc)
        explor3(neighbor, mean_score_acc, algo)

In [52]:
explor3(Fs,0.822902,algo)

In [53]:
models_mm3

[]